/* BEM-->modificadores */
/* variables */
:root
{
    --color-violeta-boton-hover: #2824AE;
    --color-violeta-boton: #342fd4;
}
/* variables */



/* main */
.boton--violeta
{
    border:none;
    background-color: var(--color-violeta-boton);
    color: var(--color-blanco);
    margin: 0px auto;
}
.boton--violeta:hover
{
    box-shadow: none;
    background-color: var(--color-violeta-boton-hover);
    /* vaer transiciones en los hover */
}




.contenedor__seccion--fullscreen
{
    /* box model */
    min-height:100vh;
    max-height: 100vh;

    /* decorados */
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../assets/img/20_o_1h5n7eo5f1nlahpv15ij1sp2bbd41.png");
    background-color: rgb(0, 0, 0);
}



.contenedor__seccion--gris
{
    background-color: var(--color-blanco-gris);
}
.contenedor__seccion--grisOscuro
{
    background-color:var(--color-gris-oscuro);
    color: var(--color-blanco);
}



.boton--etiqueta
{
    display: inline-block;
    min-height: auto;
    background-color: var(--color-violeta-boton);
    border: none;
    color: var(--color-blanco);
    text-decoration: dashed;

    font-size: 11px;
    padding: 0em 1em 0em 1em;
    margin: 0 0 0.5rem 0;
}
.boton--etiqueta:hover
{
    border: none;
    box-shadow: none;
}




.carta__titulo
{
    font-size: 1.4rem;
    margin: 0 0 0.5rem 0;
}
.carta__titulo:hover
{
    color: var(--color-violeta-boton-hover);
}


/* main */


.titulo--footer
{
    font-size: 16px;
    font-weight: var(--weight-bold);
    color: white;
}
.boton--blanco
{
    color: var(--color-violeta-boton);
    background-color: var(--color-blanco);
    border: none;
    text-transform: uppercase;
    font-size: 14px;
}
.boton--blanco:hover
{
    box-shadow: none;
    background-color: rgb(213, 213, 213);
}


@media (min-width:910px)
{
    .carta
    {
        flex-basis: 300px;
    }
}
@media (max-width:870px){
    :root{
        --width-almost-full:95%;
    }
    .contenedor__seccion--fullscreen{
        min-height: 0;
    }
    .header__nav{
        display: none;
    }
    .header__div{
        grid-template-areas: "logo";
        grid-template-columns: 1fr;
    }
    .header__logo{
        place-content: center;
    }
    .nav_mobile{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 4.8rem;
        align-items: center;
        justify-content: space-around;

        border-top: 1px solid hsl(0, 0%, 70%, .5);
        background-color: var(--color-secundario);
    }
    .icono_texto__icono{
        display: block;
        text-align: center;
    }
    .icono_texto:hover{
        color: rgb(0, 115, 255);
    }
    .icono_texto__texto{
        font-size: .95rem;
        display: inline-block;
        margin: .3rem 0 0;
    }
    .boton-fixed{
        bottom: 4.5rem;
    }
    .footer{
        margin-bottom: 4.8rem;
    }
}
